version: "3"

services:
  spark-master:
    image: bde2020/spark-master:3.0.1-hadoop3.2
    ports:
      - "8080:8080"
      - "7077:7077"
    volumes:
      - ./:/app
    environment:
      - ENABLE_INIT_DAEMON=false
  spark-worker-1:
    image: bde2020/spark-worker:3.0.1-hadoop3.2
    depends_on:
      - spark-master
    ports:
      - "8082:8081"
    volumes:
      - ./:/app
    environment:
      - "SPARK_MASTER=spark://spark-master:7077"
  spark-worker-2:
    image: bde2020/spark-worker:3.0.1-hadoop3.2
    depends_on:
      - spark-master
    ports:
      - "8083:8081"
    volumes:
      - ./:/app
    environment:
      - "SPARK_MASTER=spark://spark-master:7077"
  music-pipeline:
    build: .
    volumes:
      - ./:/app
    depends_on:
      - spark-master
    environment:
      - ENABLE_INIT_DAEMON=false
      - "SPARK_MASTER=spark://spark-master:7077"
